@media only screen and (max-width: 1900px) {
    .funereal_page {
        width:95%; padding-left: 5%;
    }
    .col_1{width:100%; float:left}
    .col_2{width:0%; float:left}
}
@media only screen and (max-width: 700px) {
    .funereal_page { width:100%; }
    .header-image {
        height: 550px;
    }
    .page_style {
        background-color: #848080;
        color: white!important;
        padding: 0;
    }

    .col_1{width:100%;}
    .col_2{width:0%; float:left; display: none}
}
.option_style {float:left; width:20px; height:20px; margin:10px!important; color:blue!important; outline:0!important; outline-color: inherit!important;
    color:blue!important;  border-radius:8px!important;}
.option_name {float:left; height:40px; line-height: 40px}
.popup_header {
    font-weight: bold;
    font-size: 14px;
    height:60px;
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid #dedbdd;
    margin-bottom: 0!important
}

.popup_gen_title {
    font-size: 18px!important;
    font-weight: 600!important;
}

.popup_title {
    font-size: 17px!important;
    font-weight: 500!important;
    padding-top: 12px!important;
}

.popup_info {
    font-size: 14px!important;
    padding-top: 15px!important;
    color: grey!important;
    font-weight: 500!important;
}

.popup_info_check {
    font-size: 16px!important;
    padding-top: 18px!important;
    color: grey!important;
    font-weight: 500!important;
}

.popup_text_area {
    width: 100%!important;
    background-color: #fff!important;
    padding: 20px!important;
    border-radius: 3px!important;
    border: 1px solid #dedbdd!important;
    outline: none!important;
    font: 18px Visuelt,Helvetica,sans-serif!important;
    font-weight: 400!important;
    line-height: 1.3333!important;
    -webkit-font-smoothing: antialiased!important;
    color: #495456!important
}

.popup_estate_address_type {
    text-decoration: underline;
    color: #676262!important;
    font-size: 15px;
    cursor:pointer;
    padding-top:5px;
    font-weight: 500!important;
}

.popup_add_estate_inheritor {
    /*min-height: 80px;*/
    overflow: hidden;
    background-color: #fff;
    border-radius: 3px;
    margin-top: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    display: flex;
    border: 1px solid #dedbdd;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
}

.popup_add_estate_inheritor:hover {
    background-color: #f7f6f6;
    border: 1px solid darkgrey;
}

.popup_add_estate_inheritor_text {
    width: 100%;
    text-align: center;
    color: #fc7e84;
    padding: 23px 0;
    font-weight: 600;
    font-size:17px;
}